.sidebar{
  text-align: center;
    width: 200px;
    height: 100vh;
    border: none;
    background-color: #0062B2;
    border-radius: 10px;
  }
  
  .sidebar a{
    padding: 20px 10px;
    color: white;
    transition: 0.2s;
  }
  
  .sidebar a:hover {
    transition: 0.2s;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
    
  }

  span.user-nome{
    font-weight: bold;
    font-style: italic;
    color: white;
  }