/*.login-form {
    margin: 50px auto;
    width: 320px;
    background-color: rgb(222, 237, 250);
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
  }
  
  .login-logo {
    margin: 10px 0 40px 0;
    text-align: center;
  }
  
  .login-logo img{
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  }
*/
.forgotPass {
  color: #0062B2;
  font-weight: bold;
}

.title-1 {
  font-size: 45px;
  color: #0062B2;
}

.title-2 {
  color: #0062B2;
  font-size: 30px;
}

.btn {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #0062B2;
  padding: 15px;
  padding-left: 65px;
  padding-right: 65px;
  cursor: pointer;
}

.btn:hover{
  background-color: #5FA8D3;
  color: #fff
}

.btn1 {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.description-primary {
  color: #0062B2;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.input {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 60%;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legenda{
  position: absolute;
  bottom: 50px;
}

.side {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 40%;
}

.containerBtn{
  display: flex;
  justify-content: center;
  gap: 10px;
}