.header{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px
}

.imgTitulo{
    width: 20%;
}

.navBar a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

.navBar a:hover{
    background-color: #CAE9FF;
    transition: 0.3;
    padding: 5px 10px;
}