.header{
    background-color: #0062B2;
    padding: 20px 30px
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
}

.imgTitulo{
    width: 15%;
}

.navBar a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: 0.3s;
}

.navBar a:hover{
    padding: 0px 20px;
    background-color: #5FA8D3;
    border-radius: 10px;
}