@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

.table-wrapper {
    max-height: 69vh; 
    overflow-y: auto; 
}

body{
    background-color: #CAE9FF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*Essa fonte só esta aqui porque resolve um erro, não achei fonte original ainda*/
}