.form-fale {
    background-color: #CAE9FF;
}

.maior{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem{
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 80%;
    background-color: #0062B2;
    }

.forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  text-align: center;
  }

  .img-fale{
    width: 70%;
    text-align: center;
  }

  .mens{
    color:white
  }

  .input {
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
  }

  .mensagem-btn {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #0062B2;
    width: 400px;
    height: 50px;
    align-items: flex;
    
  }

  .description-contact{
    color: #000;
    font-size: 25px;
    text-align: center;
}

.description-contact-1{
  font-size: 45px;
  color: #0062B2;
}